@font-face {
  font-family: 'Prelo_bold';
  src: font-url('prelo-bold-webfont.eot');
  src: font-url('prelo-bold-webfont.eot?#iefix') format('embedded-opentype'),
  font-url('prelo-bold-webfont.woff') format('woff'),
  font-url('prelo-bold-webfont.ttf') format('truetype'),
  font-url('prelo-bold-webfont.svg#ralewaysemibold') format('svg');
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'Prelo_book';
  src: font-url('prelo-book-webfont.eot');
  src: font-url('prelo-book-webfont.eot?#iefix') format('embedded-opentype'),
  font-url('prelo-book-webfont.woff') format('woff'),
  font-url('prelo-book-webfont.ttf') format('truetype'),
  font-url('prelo-book-webfont.svg#ralewaysemibold') format('svg');
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'Prelo_light';
  src: font-url('prelo-light-webfont.eot');
  src: font-url('prelo-light-webfont.eot?#iefix') format('embedded-opentype'),
  font-url('prelo-light-webfont.woff') format('woff'),
  font-url('prelo-light-webfont.ttf') format('truetype'),
  font-url('prelo-light-webfont.svg#ralewaysemibold') format('svg');
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'Avenir_medium';
  src: font-url('avenirltstd-medium-webfont.eot');
  src: font-url('avenirltstd-medium-webfont.eot?#iefix') format('embedded-opentype'),
  font-url('avenirltstd-medium-webfont.woff') format('woff'),
  font-url('avenirltstd-medium-webfont.ttf') format('truetype'),
  font-url('avenirltstd-medium-webfont.svg#ralewaysemibold') format('svg');
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'Avenir_roman';
  src: font-url('avenirltstd-roman-webfont.eot');
  src: font-url('avenirltstd-roman-webfont.eot?#iefix') format('embedded-opentype'),
  font-url('avenirltstd-roman-webfont.woff') format('woff'),
  font-url('avenirltstd-roman-webfont.ttf') format('truetype'),
  font-url('avenirltstd-roman-webfont.svg#ralewaysemibold') format('svg');
  font-weight: 200;
  font-style: normal;
}
