@media (min-width: 550px) {
  #team {
    .bosses, .employee {
      .profil {
        .Bence, .Attila {
          min-height: 34em;
        }
      }
    }
  }
}

@media (max-width: 767px) { 
  header {
    .coins {
      margin-top: 3em;
      width: 40%;
    }
    .title {
      h1 {
        margin-bottom: 1.2em; 
        text-align: center;
      }
    }
  }
  #projects, #team, #workstyle, #contact {
    text-align: center;
    p:nth-of-type(1) {
      padding: 0 1em;
    }
  }
  #projects {
    .project {
      h3 {
        padding-bottom: 2em;
      }
    }
    .project:nth-child(6n+1) {  
      display: none;
    }
    .project:nth-child(6n+6) { 
      display: none;
    }
  }
  #team {
    .bosses {
      .profil {
        h4 {
          text-align: left; 
          padding: 0 0.4em;
        }
        .desc {
          display: none;
        }
      }
    }
  }
  #contact {
    .row {
      h5, a, p {
        font-size: 1.3em;
      }
    }
  }
}
@media (min-width: 768px) {
  .clearfix {
    p:nth-of-type(1) { 
      width: 70%;
    }
  }
  header {
    .header_bar {
      ul {
        a {
          font-size: 1.2em;
        }
      }
    }
    .magic{
      img{
        width: 100%;
      }
    }
    .coins {
      margin-top: 5em;
      padding: 1em;
    }
    .title {
      padding: 5em;
      text-align: left;
      h1 {
        text-shadow: 2px 2px rgba(0, 0, 0, 0.2);
        text-align: left;
      }
    }
    .statistic {
      background: asset-url('fallers.svg', image) center; 
      height: 6em;
    }
  }
  h2 {
    padding: 1em 0 0 0.5em;
  }
  p {
    margin: 0 0 1.2em 1.2em;
  }
  #projects {
    .project {
      width: 33.33%; 
      float: left; 
      height: 10em;
      h3 {
        font-size: 1.3em;
      }
      h4 {
        font-size: 1em;
      }
    }
    .button {
      margin-top: -50em; 
      padding-right: 2em; 
      float: right;
      a {
        padding: 0.3em 0.7em;
      }
    }
  }
  #contact {
    .row {
      h5, a, p {
        font-size: 1.2em;
      }
      .email, .skype, .office { 
        height: 8em; 
      }
      .email, .skype {
        border-right: 1px solid rgba(73, 73, 73, 0.2);
      }
      .skype, .office {
        padding-left: 4em;
      }
    }
  }
  .map, #map-canvas {
    width: 140%; 
    margin-left: -16%; 
    height: 30em;
  }
}

@media (min-width: 992px) {
  header {
    .header_bar {
      .AM {
        font-size: 2em; 
        letter-spacing: 0.05em;
      }
      ul {
        margin-top: 0.5em;
        li {
          padding-left: 4em;
          a {
            letter-spacing: 0.05em;
            font-size: 1.5em;
          }
        }
      }
    }
    .line {
      margin-top: 3em; 
      height: 0.4em;
    }
    .title {
      h1 {
        font-size: 3em;
      }
      p {
        font-size: 1.6em;
      }
    }
    .statistic {
      font-size: 1.4em; 
      height: 10em ; 
      background-size: 38%;
      span {
        font-size: 2.2em;
      }
    }
  }
  #projects {
    .project {
      h3 {
        font-size: 1.4em;
      }
    }
  }
  #team {
    .bosses {
      p {
        margin: 0.3em 0 0 1em;
      }
    }
    .employee {
      background-color: white;
      .profil {
        .Botond, .Soma {
          min-height: 17em;
          float: left; 
          width: 100%;
        }
      }
      p {
        float: right; 
        width: initial;
        margin: 0;
      }
      .som {
        p {
          float: left;
        }
      }
    }
  }
  #contact {
    .row {
      h5, a, p {
        font-size: 1.4em;
      }
      .email, .skype, .office { 
        height: 10em;
      }
      .skype, .office {
        padding-left: 5em;
      }
    }
  }
}

@media (min-width: 1200px) {
  h2 {
    font-size: 4em;
  }
  p {
    font-size: 1.7em; 
  }
  header {
    .title {
      padding: 7em;
      h1 {
        font-size: 4em;
      }
      p {
        font-size: 2em;
        margin: 0.5em 0 3em 0;
      }
      a {
        font-size: 2em;
      }
    }
    .coins {
      margin-top: 7em;
    }
    .statistic {
      font-size: 1.6em;
    }
  }
  #projects {
    margin-left: 12%; 
    margin-right: 12%;
    a, a:hover {
      font-size: 4em;
    }
    .project {
      height: 14em; 
      max-height: 14em;
      h4 {
        font-size: 1.4em;
      }
      h3 {
        font-size: 1.6em;
      }
    }
    .button {
      margin-top: -70em;
    }
    .one-project {
      height: 28em;
      &.animated.bounceInRight {
        margin-left: -12%;
      }
      h4 {
        font-size: 1.6em;
      }
      h3{
        font-size: 2em;
      }
      p{
        font-size: 1.6em;
      }
      .else {
        font-size: 1.6em;
      }
    }
  }
  #team {
    margin-left: 12%; 
    margin-right: 12%;
    .bosses, .employee {
      .profil {
        .Bence, .Attila {
          width: 132%;
        }
        .Bence {
          margin-left: -32%;
        }
        p {
          font-size: 2.2em; 
        }
        h3 {
          padding: 0 2em;
        }
        h4 {
          font-size: 1.7em;  
        }
      }
    }
    .employee {
      width: 132%;
      margin-left: -16%;
      p {
        font-size: 1.6em; 
      }
    }
  }
  #workstyle {
    margin-left: 12%; 
    margin-right: 12%;
    h3 {
      font-size: 1.7em;
    }
    .video_2 {
      video {
        width: 140%; 
        margin-left: -16%;
      }
      .play {
        a, a:hover {
          font-size: 5em;
        }
      }
    }
  }
  #contact {
    margin-left: 12%; 
    margin-right: 12%;
  }
}

@media (min-width: 1400px) {
  #contact {
    .row {
      h5, a, p {
        font-size: 1.6em;
      }
      .email, .skype, .office { 
        height: 10em;
      }
      .skype, .office {
        padding-left: 8em;
      }
    }
  }
}