// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

html {
  font-size: 100px;
  background-color: #e4e6ea;
  margin: 0 auto;
  font-family: Helvetica;
}

header {
  background: asset-url('Koala_opacity.jpg', image) no-repeat center;
  background-size: cover;
  padding-top:300px; 
  margin-bottom: 60px; 
  h1 {
    color: black;
    font-size: 88px;
    font-weight: bold;
    text-align: center;
  }
  a, a:hover {
    color: black;
    font-size: 50px;
    text-decoration: none;
  }
  div {
    padding-top:500px; 
    text-align: center;
    font-size: 40px;
    line-height: 160%;
    p:nth-child(1) {
      border-right: 2px solid #969799;
    }
    span {
      font-size: 70px;
    }
  }
}

h2 {
  color: black;
  font-size: 80px;
  padding-top:15px;
}

h2:after {
  padding: 0 20px;
  content: " ";
}

.projects {
  text-align: center;
  margin-top: 30px;
  p {
    color: black;
    font-size: 50px;
    padding-bottom:35px;
    border-bottom: 2px solid #26343e;
  }
  p:nth-child(2) {
    color: #818185;
    font-size: 40px;
  }
  h4 {
    color: #969799;
    font-size: 30px;
  }
  a, a:hover {
    color: #818185;
    font-size: 30px;
    border-bottom: 3px solid #969799;
    text-decoration: none;
  }
}

.our-team {
  text-align: center;
  h2 {
    margin-top: 300px;
  }

  p {
    color: #818185;
    font-size: 40px;
  }
  li {
    background-size: cover;
    color: black;
    font-size: 40px;
    line-height: 100%;
    list-style: none;
    padding-top:500px;
    p {
      padding-top:300px;
      text-align:center;
      b {
        font-size: 25px;
      }
    }
  }
  li:nth-child(1) {
    background: asset-url('bence.jpg', image) no-repeat center;
  }
  li:nth-child(2) {
    background: asset-url('juhat.jpg', image) no-repeat center;
  }
}

.toolkit {
  text-align: center;
  h2 {
    margin-top: 300px;
  }
  p {
    color: #818185;
    font-size: 40px;
    padding-bottom:50px;
    border-bottom: 2px solid #26343e;
  }
  li {
    color: black;
    font-size: 50px;
    list-style: none;
    padding-top:5px;
    padding-bottom:20px;
    border-bottom: 2px solid #26343e;
  }
}

.contact {
  text-align: center;
  h2 {
    margin-top: 300px;
  }
  p {
    color: #818185;
    font-size: 40px;
    padding-bottom:40px;
  }
  li {
    color: black;
    list-style: none;
    padding-top:5px;
    padding-bottom:20px;
    h5 {
      color: #818185;
      font-size: 40px;      
    }
    p {
      color: black;
      font-size: 50px;
    }
  }
}

.map h1 {
  background: asset-url('map.jpg', image) no-repeat center;
  background-size: cover;
  height: 465px;
}
