html {
  margin: 0 auto;
}
body {
  font-family: Prelo_light;
}
.wrapper {
  position: relative;
  overflow: hidden;
  width: 100%;
}
.canvas {
  width: 100%;
  height: 100%;
  position: relative;
  
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-transform: translateX(0);
  transform: translateX(0);
  
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);

  -webkit-transition: -webkit-transform .33s cubic-bezier(1,0,.61,.15);
  transition: -webkit-transform .33s cubic-bezier(1,0,.61,.15);
 
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}
.show-nav .canvas {
  -webkit-transform: translateX(-300px);
  transform: translateX(-300px);
  
  -webkit-transform: translate3d(-300px, 0, 0);
  transform: translate3d(-300px, 0, 0);
}
.menu {
  width: 300px;
  height: 100%;
  position: absolute;
  top: 0;
  right: -300px;
  background: #E22D28;
  -moz-box-shadow:    inset 15px 0 50px -15px #000000;
  -webkit-box-shadow: inset 15px 0 50px -15px #000000;
  box-shadow:         inset 15px 0 50px -15px #000000;
  a {
    position: relative;
  }
  img {
      margin-top: -2em;
      opacity: 0.1;
    }
  .fixed {
    padding: 0 1em;
    font-size: 2em;
    color: white;
    font-family: Avenir_roman;
    text-align: right;
    margin-top: -0.6em;
    ul {
      line-height: 1.8em;
      list-style: none;
      border-bottom: 1px solid rgba(255, 255, 255, 0.4);
      a {
        text-decoration: none;
        color: white;
      }
    }
    p {
      font-family: Prelo_book;
      font-size: 0.8em;
      color: rgba(255, 255, 255, 0.6);
    }
  }
}
header {
  .vid {
    color: white;
  }
  #bg {
    position: relative;
    #bgimage {
      width: 100%;
      z-index: -1000;
      opacity: 0.3;
      padding: 0;
    }
    #overlay {
      background: url('pattern.png');
      position: absolute;
      width: 100%;
      height: 100%;
    }
    video {
      margin-bottom: -6px;
      width: 100%;
      z-index: -1000;
    }
  }
  .head {
    position: absolute; 
    top: 0; 
    bottom: 0; 
    left: 0; 
    right: 0;
  }
  .header_bar {
    padding-top: 1.5em;
    .AM {
      float: left;
      margin-left: 1em;
      font-size: 1.6em;
      text-align: left;
      span {
        font-family: Prelo_bold;
      }
    }
    .toggle-nav {
      float: right;
      margin-right: 2em;
      color: white;
      font-size: 0.6em;
      padding: 0;
      .icon-bar {
        width: 3em;
        height: 0.4em;
        background-color: white;
        margin: 0.5em;
      }
    }
    ul {
      list-style: none;
      float: right;
      margin-right: 2em;
      padding: 0;
      li {
        float: left;
        padding-left: 3em;
        a {
          border: none;
          color: white;
          text-decoration: none;
        }
      }
    }
  }
  .line {
    margin: 2.6em 1.6em 1em 1.6em;
    height: 0.2em;
    background-color: rgba(255, 255, 255, 0.2);
  }
  .magic{
    bottom: 0;
    left: 0;
    margin: auto;
    position: absolute;
    top: 12%;
    right: 0;
  }
  .coins {
    text-align: center;
    max-width: 40em;
  }
  .title {
    position: initial;
    h1 {
      font-family: Prelo_book;
      font-size: 2.6em;
    }
    p {
      color: white;
      line-height: 1em;
      font-size: 1.4em;
      margin: 0.5em 0 2em 0;
    }
    a {
      font-family: Prelo_book;
      color: white;
      font-size: 1.4em;
      padding: 0.6em;
      text-decoration: none;
      border: 0.07em solid white;
      border-radius: 0.2em;
    }
  }
  .statistic {
    margin: 0;
    background: asset-url('fallers.svg', image) center;
    background-size: cover;
    height: 12em;
    color: black;
    padding-top: 1.5em;
    p {
      margin: 0em;
    }
    span {
      font-family: Prelo_bold;
      color: #E22D28;
      font-size: 3em;
      line-height: 1em;
      padding: 0 0.2em;
      vertical-align: middle;
    }
  }
  .mask {
    height: inherit;
    margin-top: -1.5em;
    background: rgba(255,255,255,0);
    background: -moz-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,0.45) 45%, rgba(255,255,255,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255,255,255,0)), color-stop(45%, rgba(255,255,255,0.45)), color-stop(100%, rgba(255,255,255,1)));
    background: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,0.45) 45%, rgba(255,255,255,1) 100%);
    background: -o-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,0.45) 45%, rgba(255,255,255,1) 100%);
    background: -ms-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,0.45) 45%, rgba(255,255,255,1) 100%);
    background: linear-gradient(to bottom, rgba(255,255,255,0) 0%, rgba(255,255,255,0.45) 45%, rgba(255,255,255,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff', GradientType=0 );
  }
}
h2 {
  font-family: Avenir_medium;
  color: black;
  font-size: 3em;
}
h3 {
  color: grey;
  font-size: 1.2em;
}
p {
  color: grey;
  font-size: 1.3em;
}
#projects {
  background-size: cover;
  margin-top: -5em;
  a {
    color: grey;
    font-size: 3em;
    text-decoration: none;
    border: 0.05em solid grey;
    border-radius: 0.2em;
    padding: 0.7em;
  }
  .project {
    padding: 0 2em;
    margin: 0;
    transparent: 0.9;
    max-height: 10em;
    overflow: hidden;
    transition: max-height 1s, margin 1s, padding 1s, box-shadow 1s;
    color: white;
    h4 {
      padding-top: 1em;
      margin-top: 0;
      color: rgba(255, 255, 255, 0.5);
    }
    h3 {
      font-family: Avenir_medium;
      padding-bottom: 5em;
      margin-top: 0.6em;
      font-size: 1.4em;
      color: white;
    }
    p {
      color: white;
      font-family: Prelo_light;
      margin-top: 0.8em;
      text-align: left;
      font-size: 1.3em;
      padding-bottom: 1.6em;
    }
  }
  .project.active{
    position: relative;
    max-height: 100em;
    margin: 0;
    h3 {
      border-bottom: 1px solid rgba(255, 255, 255, 0.6);
      padding-bottom: 0.8em;
    }
  }
  .block {
    text-align: left;
    font-size: 1.4em;
    font-family: Prelo_book;
    margin: 0;
    div {
      font-family: Avenir_roman;
      padding-left: 0em;
    }
    div:nth-child(3) {
      font-family: Prelo_light;
    }
    .title {
      border-bottom: 1px solid rgba(255, 255, 255, 0.6);
    }
    .tool {
      padding-bottom: 1em;
    }
    .circles {
      padding-top: 0.1em;
    }
    .circle_full, .circle_empty {
      margin: 0.15em;
      float: left;
      width: 0.8em;
      height: 0.8em;
      border: 0.1em solid white;
      border-radius: 50%; 
    }
    .circle_full {  
      background-color: white;
    }
  }
  /* purple */
  .project:nth-child(6n+1) { 
    background-color: rgba(203, 135, 210, 0.9);
  }
  /* blue */
  .project:nth-child(6n+2) {  
    background-color: rgba(123, 196, 213, 0.9);
  }
  /* orange */
  .project:nth-child(6n+3) {  
    background-color: rgba(255, 161, 7, 0.9);
  }
  /* turquoise */
  .project:nth-child(6n+4) {  
    background-color: rgba(79, 228, 196, 0.9);
  }
  /* burgundy */
  .project:nth-child(6n+5) {  
    background-color: rgba(217, 107, 110, 0.9);
  }
  /* green */ 
  .project:nth-child(6n+6) {  
    background-color: rgba(185, 233, 134, 0.9);
  }
  .button {
    margin: 6em 0;
    font-family: Prelo_book;
    font-size: 0.5em;
    padding: 0.6em;
  }
  .one-project {
    display: none;
    width: 100%;
    height: 20em;
    position: absolute;
    background-color: white;
    margin: 0;
    padding: 0;
    color: rgba(73, 73, 73, 1);
    .sign {
      width: 12%;
      background-color: rgba(73, 73, 73, 1);
      a {
        float: right;
        color: white;
        text-decoration: none;
        border: none;
        padding: 0 0.4em;
        line-height: 1.2em;
      }
      .back {
        font-size: 0.5em;
        padding: 0.1em 0 0 0.5em;
      }
      span {
        float: left;
      }
    }
    &.animated.bounceInRight {
      display: block;
    }
    h4 {
      padding: 1.25em 0 1.25em 2em;
      margin: 0;
      font-size: 1em;
      color: rgba(255, 255, 255, 0.5);
    }
    h3 {
      margin: 0;
      font-family: Avenir_medium;
      padding: 0.5em;
      font-size: 1.2em;
      color: white;
      padding: 0.4em 1em;
    }
    p {
      font-family: Prelo_light;
      margin-top: 0.8em;
      text-align: left;
      font-size: 1.1em;
      width: 100%;
    }
    .title {
      width: 58%;
      background-color: rgba(255, 161, 7, 0.9);
    }
    .category {
      width: 30%;
      background-color: rgba(255, 161, 7, 0.9);
    }
    .empty{
      width: 12%;
    }
    .solution {
      width: 58%;
    }
    .else {
      width: 30%;
      color: rgba(73, 73, 73, 0.6);
      padding: 1em 6em 0 2em;
      text-align: left;
      font-size: 1em;
      font-family: Prelo_book;
      div {
        font-family: Avenir_roman;
        padding-left: 0em;
      }
      div:nth-child(2) {
        font-family: Prelo_light;
      }
      .tit {
        padding-bottom: 0.2em;
        border-bottom: 1px solid rgba(73, 73, 73, 0.2);
      }
      .tool {
        padding-top: 0.2em;
        padding-bottom: 1em;
      }
      .circles {
        padding-top: 0.3em;
      }
      .circle_full, .circle_empty {
        margin: 0.2em;
        float: left;
        width: 0.8em;
        height: 0.8em;
        border: 0.1em solid rgba(73, 73, 73, 0.2);
        border-radius: 50%; 
      }
      .circle_full {  
        background-color: rgba(73, 73, 73, 1);
      }
    }
  }
}
#team {
  .bosses, .employee {
    margin: 0;
    .profil {
      padding: 0;
      .Bence, .Attila {
        background-size: cover !important;
        overflow: hidden;
        width: 100%;
        min-height: 14em;
      }
      .Botond, .Soma {
        background-size: cover !important;
        overflow: hidden;
      }
      p {
        color: black;
        font-family: Avenir_medium;
        font-size: 1.6em;
        padding-bottom: inherit;
        margin-bottom: 0em;
      }
      h3 {
        margin: 0em;
        color: grey;
        font-family: Prelo_light;
        padding: 0 1.4em;
      }
      h4 {
        color: grey;
        padding: 0 1.4em;
        text-align: justify;
      }
    }
  }
  .bosses {
    .profil {
      margin-bottom: 2em;
    }
  }
  .employee {
    p {
      font-size: 1.2em;
      font-family: Avenir_medium;
      color: black;
    }
  }
}
#workstyle {
  h3 {
    margin: 0em;
    line-height: 1.428571429em;
    text-align: left;
    color: grey;
    font-size: 1.3em;
    padding: 0.3em 1em 1.2em 1em;
    span {
      font-family: Avenir_medium;
    }
  }
  img {
    width: 100%;
    margin-bottom: 3em;
  }
  .video_2 {
    position: relative;
    video {
      width: 100%;
      height: 100%;
      margin-bottom: 3em;
    }
    .play {
      font-family: Prelo_book;
      font-size: 0.5em;
      position: absolute;
      text-align: center;
      top: 50%;
      left: 40%;
      width: 20%;
      a {
        padding: 0.3em 0.7em;
        color: white;
        font-size: 3em;
        text-decoration: none;
        border: 0.05em solid white;
        border-radius: 0.2em;
        padding: 0.7em;
      }
    }
  }
}
#contact {
  font-size: 1em;
  h5 {
    margin: 2em 1em 0.5em 1em;
    color: #818185;
  }
  .email, .skype, .office {
    h5:nth-of-type(2) { 
      padding-top: 2em;
      background-color: red;
    }
    p, a {
      font-family: Avenir_medium;
      text-decoration: none;
      color: black;
      margin: 0 1em;
    }
  }
}
.map, #map-canvas {
  height: 20em;
  margin-bottom: -2em;
  overflow: hidden;
  padding: 3em 0 0 0;
}

@import "fonts";
@import "media";